#container {
    flex: 1;
    flex-direction: row;
}

StateEditorView {
    width: 200;
    padding: 10;
    background-color: #303030;
}

GraphEditorView {
    padding: 10;
    flex: 1;
    background-color: #202020;
}
